<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel.MessageLogging" switchValue="Warning,ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="ServiceModelMessageLoggingListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
      <source propagateActivity="true" name="System.ServiceModel" switchValue="Warning,ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="ServiceModelTraceListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="c:\users\dell\desktop\wcf lessons\wcflessons\hostconsoleapp\app_messages.svclog"
        type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
        name="ServiceModelMessageLoggingListener" traceOutputOptions="Timestamp">
        <filter type="" />
      </add>
      <add initializeData="c:\users\dell\desktop\wcf lessons\wcflessons\hostconsoleapp\app_tracelog.svclog"
        type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
        name="ServiceModelTraceListener" traceOutputOptions="Timestamp">
        <filter type="" />
      </add>
    </sharedListeners>
    <trace autoflush="true" />
  </system.diagnostics>
  <connectionStrings>
    <add name="CNX" connectionString="Data Source=DESKTOP-47H7F47;Initial Catalog=WCFLessonsDB;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.serviceModel>
    <standardEndpoints />
    <diagnostics performanceCounters="Default">
      <messageLogging logEntireMessage="true" logMalformedMessages="true"
        logMessagesAtTransportLevel="true" />
    </diagnostics>
    <services>
      <service name="ServiceLibrary.StudentService" behaviorConfiguration="service1Behavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8001/"/>
          </baseAddresses>
          <timeouts closeTimeout="0:10:0"/>
        </host>
        <endpoint address="ep1" binding="basicHttpBinding" contract="ServiceLibrary.IStudentInfo" />
        <!--adding service behavior is not enough to publish metadata we also need endpoint -->
        <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration="mexBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <bindings>
      <mexHttpBinding >
        <binding name="mexBinding"/>
      </mexHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="service1Behavior">
          <!--Gets or sets a value that indicates whether to publish service metadata for retrieval using an HTTP/GET request.-->
          <!--Gets or sets the location of metadata publication for HTTP/GET requests.-->
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="ep1Behavior">
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
  <system.runtime.serialization>
    <dataContractSerializer>
      <declaredTypes>
        <add type="ServiceLibrary.Student, ServiceLibrary, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null">
          <knownType type="ServiceLibrary.RegularStudent, ServiceLibrary, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
          <knownType type="ServiceLibrary.OpenStudent, ServiceLibrary,  Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
        </add>
      </declaredTypes>
    </dataContractSerializer>
  </system.runtime.serialization>
</configuration>